<%= form_for(@historico_post) do |f| %>
  <% if @historico_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@historico_post.errors.count, "error") %> prohibited this historico_post from being saved:</h2>

      <ul>
      <% @historico_post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_post %><br>
    <%= f.number_field :id_post %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
