<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">Super Blog</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <%= menu_item 'Pantalla Principal', posts_pantalla_principal_path %>
        <%= menu_item 'Pantalla Administrativa', posts_path %>
        <%= menu_item 'New Post', new_post_path %>
      </ul>
    </div>
  </div>
</nav>

<%= yield %>

</body>
</html>
